<app-navbar></app-navbar>
<body>
    
<div class="card">
    <img src="assets/images/Medialunas.jpg" alt="Descripción de la imagen" class="card-img">
    <div class="card-content">
        <h3 class="card-title">Medialunas De Harina Integral</h3>
        <p class="card-text">Disfruta de nuestras irresistibles medialunas de harina integral, un delicioso giro en el clásico que combina el sabor suave y mantecoso con la riqueza y el valor nutricional de la harina integral. Estas medialunas son esponjosas por dentro, ligeramente crujientes por fuera, y tienen un sabor naturalmente dulce que proviene de ingredientes de alta calidad. Perfectas para un desayuno saludable o un tentempié nutritivo, son la opción ideal para quienes buscan un equilibrio entre placer y bienestar.</p>
        <a href="/recetas" class="card-btn">Ver Receta</a>
    </div>
</div>
</body>
<app-footer></app-footer>