<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Pollo.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> PECHUGA DE POLLO CON ENSALADA
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Lentejas.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> ENSALADA DE VERDURAS Y LENTEJAS
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Atun.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> SANDWICH DE TRIGO CON ATUN 
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Tarta.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> TARTA DE HUEVO CON VERDURAS
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Fideos.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> TALLARINES DE VERDURA
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Muffins.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> MUFFINS DE VERDURAS
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/cereal.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> BARRITAS DE CEREAL DULCES
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Medialunas.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> MEDIALUNAS CON HARINA INTEGRAL
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="assets/images/Panqueques.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">PANQUEQUES HECHOS DE AVENA
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="/recetas" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>