<app-navbar></app-navbar>
<body>
    
<div class="card">
    <img src="assets/images/Fideos.jpg" alt="Descripción de la imagen" class="card-img">
    <div class="card-content">
        <h3 class="card-title">Fideos De Verduras</h3>
        <p class="card-text">Sumérgete en una experiencia de sabor y nutrición con nuestros fideos de espinacas, elaborados con ingredientes de alta calidad y un toque de verdor natural. Estos fideos no solo destacan por su vibrante color verde, sino también por su aporte nutricional, gracias a las espinacas frescas que les dan un sabor suave y un perfil de nutrientes equilibrado. Ideales para preparar platos ligeros y saludables, son una opción versátil que combina perfectamente con tus salsas y acompañamientos favoritos, aportando un toque fresco y nutritivo a cualquier comida.</p>
        <a href="/recetas" class="card-btn">Ver Receta</a>
    </div>
</div>
</body>
<app-footer></app-footer>