<app-navbar></app-navbar>
<body>
    
<div class="card">
    <img src="assets/images/cereal.jpg" alt="Descripción de la imagen" class="card-img">
    <div class="card-content">
        <h3 class="card-title">Barritas De Cerreales Dulces</h3>
        <p class="card-text">Descubre la energía natural en cada bocado con nuestra barra de cereal de frutas, una deliciosa y nutritiva mezcla de avena integral, frutas secas y semillas. Esta barra es perfecta para un desayuno rápido o un snack saludable, llena de sabor y con la dulzura natural de frutas como arándanos, pasas y dátiles. Sin azúcares añadidos ni ingredientes artificiales, es una opción ideal para quienes buscan un impulso de energía sostenido durante el día, manteniéndose fiel a un estilo de vida balanceado y consciente.</p>
        <a href="/recetas" class="card-btn">Ver Receta</a>
    </div>
</div>
</body>
<app-footer></app-footer>