.navbar-nav.mx-auto {
    flex: 1;
    justify-content: center;
}

.navbar-nav.ms-auto {
    margin-left: auto;
}

.nav-item a {
    color: #89BD9E;
    font-size: 1.2rem; /* Ajusta este valor para agrandar las letras */
    font-weight: bold; /* Establece el texto en negrita */
}

.nav-item {
    font-size: 1.2rem; /* Ajusta este valor para agrandar las letras */
    font-weight: bold; /* Establece el texto en negrita */
}

.navbar {
    width: 100%;
}

.container-fluid {
    background-color: #F0C987;
    padding: 1rem;
    width: 100%;
}

.mi-boton {
    display: block;
    color: #89BD9E;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave al pasar el mouse */
    text-decoration: none;
    font-size: 1.2rem; /* Ajusta este valor para agrandar las letras */
    font-weight: bold; /* Establece el texto en negrita */
}

.mi-boton:hover {
    color: #000000;
}

#logo {
    padding-left: 1em;
}

.nav-link {
    margin: 0 6rem;
}


