body {
  height: 100vh; /* 100% de la altura de la ventana */
  margin: 0; /* Elimina márgenes */
  display: flex; /* Habilita flexbox en el body */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #f4f4f4; /* Color de fondo opcional */
}

.card {
  width: 600px; /* Ancho de la tarjeta */
  border: 1px solid #89BD9E; /* Borde de la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar contenido que se sale de los bordes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
  background-color: #89BD9E; /* Fondo blanco */
}

.card-img {
  width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
  height: auto; /* La altura se ajusta automáticamente */
}

.card-content {
  padding: 16px; /* Espaciado interno de la tarjeta */
}

.card-title {
  font-size: 1.5em; /* Tamaño de fuente para el título */
  margin-bottom: 10px; /* Espacio debajo del título */
  color: #333; /* Color del texto */
}

.card-text {
  font-size: 1em; /* Tamaño de fuente para el texto */
  margin-bottom: 15px; /* Espacio debajo del texto */
  color: #555; /* Color del texto */
}

.card-btn {
  align-items: center;
  display: inline-block; /* El botón se comporta como un bloque en línea */
  padding: 10px 20px; /* Relleno interno del botón */
  background-color: #000000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  text-decoration: none; /* Quitar subrayado del enlace */
  border-radius: 32px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Efecto de transición para el color de fondo */
}

.card-btn:hover {
  background-color: #DB4C40; /* Color de fondo del botón al pasar el mouse */
}