<app-navbar></app-navbar>
<body>
    
<div class="card">
    <img src="assets/images/Tarta.jpg" alt="Descripción de la imagen" class="card-img">
    <div class="card-content">
        <h3 class="card-title">Tarta De Verduras Con Huevo</h3>
        <p class="card-text">Descubre nuestra tarta de verduras con huevo, una combinación perfecta de sabores frescos y nutritivos. Cada bocado está lleno de una mezcla colorida de verduras salteadas, como espinacas, zanahorias y calabacines, enriquecida con huevos frescos para crear una textura suave y cremosa. La base crujiente de la tarta complementa maravillosamente el relleno, haciendo de esta receta una opción deliciosa y saludable para cualquier comida del día. Ideal para compartir en familia o disfrutar como plato principal, esta tarta es un deleite equilibrado y reconfortante.</p>
        <a href="/recetas" class="card-btn">Ver Receta</a>
    </div>
</div>
</body>
<app-footer></app-footer>