.body {
  background-image: url('src/assets/images/Panqueques.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_Horarios {
  background-color: #89BD9E;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin: 50px;
}
.botones {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten al ancho del contenedor */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  gap: 20px; /* Espacio entre botones */
}
body {
  background-image: url('src/assets/images/Panqueques.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
