<app-navbar></app-navbar>
<section class="wrapper">
    <div class="container-fostrap">
        <br><br><br><br><br><br><br><br><br>
        <div class="content">
            
            <div class="container">
              
                <div class="botones">
                    
                  <div><button class="button_Horarios" routerLink="/recetas"><img src="../../../assets/breakfast-icon.png" width="110px" height="110px"></button>
                  <br>
                  <p style="text-align: center; font-size: 25px;"><b class="texto">DESAYUNO</b></p>
                  </div>
                  <div><button class="button_Horarios" routerLink="/recetas"><img src="../../../assets/lunch-icon.png" width="110px" height="110px" href="../../../../pages/recetas/desayunos/desayunos.component.html"></button>
                  <br>
                  <p style="text-align: center; font-size: 25px;"><b class="texto">ALMUERZO</b></p>
                  </div>
                  <div><button class="button_Horarios" routerLink="/recetas"><img src="../../../assets/snack-icon.png" width="110px" height="110px" href="../../../../pages/recetas/almuerzos/almuerzos.component.html"></button>
                  <br>
                  <p style="text-align: center; font-size: 25px;" href="../../../../pages/recetas/meriendas/meriendas.component.html"><b class="texto">MERIENDA</b></p>
                  </div>
                  <div><button class="button_Horarios" routerLink="/recetas"><img src="../../../assets/dinner-icon.png" width="110px" height="110px" href="../../../../pages/recetas/cenas/cenas.component.html"></button>
                  <br>
                  <p style="text-align: center; font-size: 25px;"><b class="texto">CENA</b></p>
                  </div>
                </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
</section>
<app-footer></app-footer>